:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --buttonColor: #22a821;
}
body {
  text-align: center;
  font-family: var(--font);
}
.container {
  margin-top: 70px;
  margin-bottom: 70px;

  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 88px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 88px;
  text-align: center;
}

h3 {
  font-size: 50px;
}
p {
  font-size: 18px;
}
h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}
.yesno input {
  font-size: 75px;
  width: 244px;
  height: 244px;
  border-radius: 50%;
  margin: 50px;
}

.yes {
  background-color: #00ff00;
}

.no {
  background-color: #ff0000;
}

.yesno input:hover,
.yesno button:hover {
  background-color: white;
}

.yes:hover {
  color: #22a821;
  border-color: #22a821;
}
.no:hover {
  color: rgba(255, 0, 0, 0.671);
  border-color: rgba(255, 0, 0, 0.671);
}
.login form {
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.login form button {
  display: block;
  margin: auto;
}
.login h2 {
  margin-top: 40px;
}

.info .explanation {
  text-align: left !important;
}

.info .minilog {
  width: 75px;
  height: 67.66px;
}

.demo h2 {
  border: 1px solid black;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fffcf7;
}

.next {
  background-color: var(--buttonColor);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px;
}
.info input:hover {
  background-color: white;
  color: var(--buttonColor);
  border: 2px solid var(--buttonColor);
}

.course h1 {
  background-color: #f9a322;
  width: 250px;
  display: block;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 40px;
}

.course .row {
  margin-top: 50px;
}

.course ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.course li,
.course input,
.course .subtitles h1 {
  border: 1px solid black;
  width: 250px;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: #fffcf7;
}

.course li:hover,
.course input:hover {
  background-color: black;
  color: white;
}

.course iframe {
  border-radius: 15px;
}

.course .yesno button {
  font-size: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 50px;
}

#tasks {
  display: none;
}

.question {
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #0000ff;
  color: white;
}

.section {
  margin: 60px;
}

.dashboard .subtitles h1 {
  font-size: 45px !important;
  width: auto !important;
}

hr {
  display: block;
  margin: auto;
  margin-top: 50px;
}

ul a {
  text-decoration: none;
  color: black;
}

#hide1,
#hide2,
#hide3 {
  display: none;
}

#error {
  display: none;
}

.course .section .correct p {
  margin-top: 40px;
}
