body {
  background-color: #dcd8d8;
}
.container {
  margin: 30px;
}
.container .title h1 {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #f9a322 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
}

.container ul {
  list-style-type: none;
}
.col {
  text-align: center;
  margin: 20px;
}

ul {
  display: block;
  margin: auto;
}
.container li {
  border: 2px solid black;
  text-align: center;
  margin: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 20px;
  width: 300px;
}

button {
  margin: 10px;
}

iframe {
  border-radius: 10px;
}
.container li:hover,
button:hover {
  background-color: black;
  color: white;
}
h5 {
  margin: 20px !important;
}

.yes,
.no {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.yes {
  background-color: #18b815;
}
.no {
  background-color: red;
}

#tasks {
  display: none;
  margin: 20px;
}
